<div class="">
  <div class="">
    <!-- Header -->
    <div class="header py-7 py-lg-8 pt-lg-9" style="margin-top: -7%;">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Welcome!</h1>
              <!-- <h1 class="text-white" style="font-size: 40px;">Dial@360</h1> -->
              <p class="text-lead text-white">AGILE | PERFPORMANCE | QUALITY</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div> -->
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5 " >
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7" style="margin-top: -8% !important;">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Sign in with credentials</small>
              </div>
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input class="form-control" placeholder="Agent ID" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-headphones"></i></span>
                    </div>
                    <input class="form-control" placeholder="Extension" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-microphone-alt"></i></span>
                    </div>
                    <select class="form-control">
                      <option>Compaign select</option>
                      <option>S2M</option>
                      <option>S2M</option>
                      <option>RSSL</option>
                    </select>
                  </div>
                </div>
                <div class="text-center">
                  <a href="./index.html"><button type="button" class="btn btn-primary my-4" >Sign in</button></a>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
